# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build folders
build/
dist/
Test/

# Python
*.pyc
*.pyo
*.egg-info/
.Python
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build temp
temp/
*.zip
